@use "../../../../public/colors";

$strong-color: #80b2ff;
$item-margin: 0.75rem;

.mdBody {
  overflow: auto;
  background-color: colors.$color-black-32;
  border: transparent solid $item-margin;
  border-bottom: 0;
  border-radius: 0.25rem;

  table {
    $table-border-color: #656565;

    width: 100%;
    padding-right: 30px;
    margin-bottom: $item-margin;

    tr {
      background-color: #0e0e0e;
      border: 1px solid $table-border-color;
    }

    tr:last-child {
      margin-bottom: 0;
    }

    th,
    td {
      padding: 0.65rem 1.5rem;
      text-align: center;
      white-space: nowrap;
    }

    tbody {
      tr:nth-of-type(odd) {
        background-color: rgb(20, 20, 20);
      }

      tr:nth-of-type(even) {
        background-color: rgb(32, 32, 32);
      }

      tr:hover {
        background-color: rgb(4, 42, 59);
      }
    }

    @media screen and (max-width: 992px) {
      thead {
        display: none;
      }

      td {
        border-bottom: 1px solid $table-border-color;
        display: block;
        text-align: right;
      }

      td::before {
        content: attr(data-label);
        float: left;
      }

      td:last-child {
        border-bottom: 0;
      }

      tr {
        display: block;
        margin-bottom: $item-margin;
      }

      tr:last-child {
        margin-bottom: 0;
      }
    }
  }

  div {
    &.text {
      margin-bottom: $item-margin;
    }

    &.youtubeEmbed {
      position: relative;
      padding-bottom: 56.25%; // 16:9
      height: 0;
    }
  }

  iframe {
    &.youtubeEmbed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }

  pre {
    background-color: #151515;
    color: #0f0;
    padding: 10px;
    border-radius: 0.25rem;
  }

  blockquote {
    border-left: 0.35rem solid $strong-color;
    padding-left: 0.5rem;
    color: colors.$color-light-gray;
    margin: 0;
  }

  strong {
    color: $strong-color;
  }

  ol,
  ul,
  dl {
    padding-inline-start: 25px;
    margin-bottom: $item-margin;
  }

  h1,
  h2,
  h3 {
    padding-bottom: 0.4rem;
    border-bottom: 1px solid colors.$hr-color;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: skyblue;
    margin-bottom: $item-margin;
    font-weight: 600;
  }
}
