.mdBody h1,
.mdBody h2,
.mdBody h3,
.mdBody h4,
.mdBody h5,
.mdBody h6 {
  color: skyblue;
}

.mdBody pre {
  background-color: #151515;
  color: #0f0;
  padding: 10px;
  border-radius: 0.25rem;
}

.mdBody table {
  display: table;
  width: 100%;
  margin-bottom: 1rem;
  border: 0;
  color: #fff;
  background-color: #0e0e0e;
  border-collapse: collapse;
  border-spacing: 2px;
}

.mdBody blockquote {
  background-color: #222;
  border-radius: 10px;
  color: #ccc;
}

.mdBody strong {
  color: #80b2ff;
}

.mdBody table,
.mdBody thead,
.mdBody th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.mdBody th,
.mdBody td {
  padding: 0.75rem;
  border: 1px solid #454d55;
}

.mdBody thead th,
.mdBody tbody td {
  border-bottom-width: 2px;
}

.mdBody tbody tr:nth-of-type(odd) {
  background-color: rgba(255, 255, 255, 0.05);
}

.mdBody tbody tr:hover {
  background-color: rgb(50, 50, 50);
}

.mdBody tbody tr:hover:nth-of-type(odd) {
  background-color: rgb(50, 50, 50);
}
