@use "../../../../public/colors";

@import "../../../../styles/table";

$strong-color: #80b2ff;
$markdown-bg-color: colors.$color-black-32;
$item-margin: 0.75rem;
$table-border-color: #656565;

.mdBody {
  overflow: auto;
  background-color: $markdown-bg-color;
  border: transparent solid $item-margin;
  border-bottom: 0;
  border-radius: 0.25rem;

  table {
    @extend %standard-table;

    @media screen and (max-width: 992px) {
      thead {
        display: none;
      }

      td {
        border-bottom: 1px solid $table-border-color;
        display: block;
        text-align: right;
      }

      td > span.responsiveHeader {
        float: left;
      }

      td:last-child {
        border-bottom: 0;
      }

      tr {
        display: block;
        margin-bottom: $item-margin;
      }

      tr:last-child {
        margin-bottom: 0;
      }
    }

    @media screen and (min-width: 992px) {
      td > span.responsiveHeader {
        display: none;
      }
    }
  }

  div {
    &.text {
      margin-bottom: $item-margin;
    }

    &.youtubeEmbed {
      position: relative;
      padding-bottom: 56.25%; // 16:9
      height: 0;
    }
  }

  span {
    &.calc {
      background-color: darken($markdown-bg-color, 10%);
      color: #ff0;
      border-radius: 0.25rem;
      padding: 0.1rem 0.2rem;
    }
  }

  iframe {
    &.youtubeEmbed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }

  pre {
    background-color: #151515;
    color: #0f0;
    padding: 10px;
    border-radius: 0.25rem;
  }

  blockquote {
    border-left: 0.35rem solid $strong-color;
    padding-left: 0.5rem;
    color: colors.$color-light-gray;
    margin: 0;
  }

  strong {
    color: $strong-color;
  }

  ol,
  ul,
  dl {
    padding-inline-start: 25px;
  }

  & > ol,
  & > ul,
  & > dl {
    margin-bottom: $item-margin;
  }

  h1,
  h2,
  h3 {
    padding-bottom: 0.4rem;
    border-bottom: 1px solid colors.$hr-color;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: skyblue;
    margin-bottom: $item-margin;
    font-weight: 600;
  }
}
