@use "../../../../../styles/colors";

div {
  &.sys-message {
    border: colors.$color-black-80 1px solid;
    border-radius: 0.25rem;
    text-align: center;
    padding: 0.5rem;
    margin: 0.5rem 0;
  }

  &.speaker-icon {
    height: 3rem;
    width: 3rem;
    margin-right: 0.5rem;
  }

  &.main-image {
    text-align: center;
  }

  &.related-links {
    text-align: center;
  }

  &.audio-control {
    text-align: center;
    margin: 0.5rem 0;
  }

  @keyframes conversation-background {
    0% {
      background-color: #312901;
    }

    50% {
      background-color: #473a06;
    }

    100% {
      background-color: #312901;
    }
  }

  %conversation {
    margin: 0.3rem 0;
  }

  &.conversation {
    @extend %conversation;
  }

  &.conversation-active {
    @extend %conversation;

    animation: conversation-background 3s linear infinite;
    border: #806805 solid 3px;
    border-radius: 0.5rem;
    padding: 0 0.3rem 0.3rem;
  }
}

img {
  &.speaker-icon {
    border-radius: 0.25rem;
  }

  &.main-image {
    max-height: 60vh;
  }
}

button {
  &.audio-control {
    // For centering icon
    display: flex;
    justify-content: center;
    align-items: center;

    // Sizing
    font-size: 2rem;
    width: 3rem;
    height: 3rem;

    // Styling
    border: 0;
    margin: 0 auto;
  }
}
