[submodule "dragalia-site-api-definition"]
	path = src/api-def
	url = https://github.com/RaenonX-DL/dragalia-site-api-definition
	branch = fs
[submodule "test/data/resources"]
	path = test/data/resources
	url = https://github.com/RaenonX-DL/dragalia-site-resources
	branch = fs
