@use "sass:color";
@import "../../../../../../styles/colors";

button {
  &.subscribe-button {
    border: 0;
    border-radius: 50%;
    font-size: 1.2rem;
    padding: 0;

    // 2rem is the exact size of a normal spinner
    height: 2rem;
    width: 2rem;

    &:disabled {
      background-color: color.change($color-dark-red, $alpha: 0.75);
    }

    &.subscribe-button-as-icon-enabled {
      color: white;
      background-color: color.change($color-bw-80, $alpha: 0.75);
    }

    &.subscribe-button-as-icon-disabled {
      color: $color-bw-170;
    }
  }
}
