@use "../../../../../../styles/colors";

span {
  &.type-icon {
    font-size: 1.5rem;
  }
}

div {
  &.entry {
    align-items: center;
    padding: 0.5rem 0.8rem;
    border-bottom: gray 1px solid;
  }

  &.type-entry {
    // No gutter row is voiding this, therefore `!important` is needed
    padding: 0 0.6rem !important;
  }
}
