$color-om-dark: #02152a;
$color-om-light: #2f4668;
$color-orange: #ff5000;
$color-dark-red: #600000;
$color-black-07: #070707;
$color-black-32: #202020;
$color-black-50: #323232;
$color-black-80: #505050;
$color-light-gray: #aaa;
$color-white-pure: #fff;
