@import "../../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../../node_modules/bootstrap/scss/mixins/breakpoints";

@function unit-width-percent($count) {
  @return calc(1 / #{$count} * 100%);
}

@mixin analysis-entry($count) {
  $size: unit-width-percent($count);

  flex: 0 0 $size;
  max-width: $size;
}

div {
  .icon-only-entry {
    @include media-breakpoint-down(sm) {
      @include analysis-entry(2);
    }

    @include media-breakpoint-up(sm) {
      @include analysis-entry(3);
    }

    @include media-breakpoint-up(lg) {
      @include analysis-entry(4);
    }

    @include media-breakpoint-up(xl) {
      @include analysis-entry(5);
    }
  }

  .complete-entry {
    @include media-breakpoint-down(lg) {
      @include analysis-entry(1);
    }

    @include media-breakpoint-up(lg) {
      @include analysis-entry(2);
    }
  }
}
