div {
  &.input-group {
    text-align: center;

    & > label {
      margin-bottom: 0.7rem;
    }

    & > label:not(:only-of-type) {
      margin-left: 0.25rem;
      margin-right: 0.25rem;
    }
  }
}
