@use "../../../../styles/utils";

@mixin clickable-icon() {
  border: 0; // Disables underline for <a>
  color: #bebebe;
}

@mixin clickable-icon-hover() {
  @include clickable-icon;

  color: white;
}

@mixin tier-note() {
  @include clickable-icon;

  font-size: 1.1rem;
  margin-left: 0.7rem;
}

span {
  &.title {
    font-size: 0.9rem;
  }

  &.ranking {
    font-size: 1.5rem;
  }

  &.point-icon {
    font-size: 1.3em;
    margin-right: 0.25rem;
  }
}

div {
  &.point-icon {
    @extend %flex-center;

    font-size: 1.5em;
    width: 1.5em;
    margin-right: 0.5rem;
    text-align: center;
  }

  &.point-entry {
    display: flex;
    align-items: center;
    height: 100%;
  }
}

a {
  &.tier-note {
    @include tier-note;
  }

  &.tier-note:hover {
    @include clickable-icon-hover;
  }

  &.tier-note-dimension:hover {
    @include clickable-icon-hover;
  }

  @mixin unit-point-base {
    height: 80%; // Size of <small>
  }

  &.unit-point {
    @include clickable-icon;
    @include unit-point-base;
  }

  &.unit-point:hover {
    @include clickable-icon-hover;
    @include unit-point-base;
  }

  &.edit-icon {
    @include clickable-icon;

    margin-left: 0.5rem;
    font-size: 1rem;
  }

  &.edit-icon:hover {
    @include clickable-icon-hover;
  }

  &.point-info {
    @include clickable-icon;
  }

  &.point-info:hover {
    @include clickable-icon-hover;
  }
}

img {
  &.unit-icon {
    opacity: 0.2;
    right: 0;
    bottom: 0;
    height: 5rem;
  }
}
