@use "../../../../styles/colors";

h1 {
  &.sectionTitle {
    text-align: center;
    margin-bottom: 1rem;

    padding: 0.5rem;
    background-color: colors.$color-black-50;
    border-radius: 0.5rem;
  }
}
