@import "../../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../../../../../../styles/utils";

a {
  &.feature {
    @extend %flex-center;

    height: 5rem;
  }
}

div {
  &.feature-row {
    margin-bottom: 1rem;

    @include media-breakpoint-down(md) {
      margin-bottom: 0;
    }
  }

  &.feature-outer {
    @include media-breakpoint-down(md) {
      margin-bottom: 1rem;
    }
  }
}
