@use "../../../../../../../styles/colors";

$item-margin: 0.75rem;
$table-border-color: #656565;
$table-border: 1px solid $table-border-color;

.section {
  p {
    margin: 0;
  }

  table {
    width: 100%;
    padding-right: 30px;

    tr {
      background-color: #0e0e0e;
      border: $table-border;
    }

    tr:last-child {
      margin-bottom: 0;
    }

    th,
    td {
      padding: 0.2rem 1rem;
      text-align: center;
      white-space: nowrap;

      &.sp,
      &.ssp {
        width: 40%;
      }

      &.ss-cost {
        width: 20%;
      }

      &.sp,
      &.ssp,
      &.ss-cost {
        border: $table-border;
      }
    }

    tbody {
      tr:nth-of-type(odd) {
        background-color: rgb(20 20 20);
      }

      tr:nth-of-type(even) {
        background-color: rgb(32 32 32);
      }

      tr:hover {
        background-color: rgb(4 42 59);
      }
    }
  }
}
