@use "../../../../../styles/colors";

div {
  &.selected {
    overflow-y: auto;
    max-height: 15rem;
    border-radius: 5px;
    border: #707070 1px solid;
    padding: 0.5rem;
  }

  @mixin search-options {
    &:hover {
      cursor: pointer;
      background-color: colors.$color-black-32;
      transition: background-color 100ms linear;
    }

    &:active {
      background-color: colors.$color-black-80;
    }

    &:not(:last-child) {
      border-bottom: gray 1px solid;
    }

    align-items: center;
    padding: 0.5rem 0.8rem;
  }

  &.option-selected {
    @include search-options;

    color: #60fa5a;
  }

  &.option-selectable {
    @include search-options;
  }

  &.option-icon {
    font-size: 1.3rem;
    text-align: right;
  }
}
