@use "sass:color";

// region New theme color

$color-om-dark: #02152a;
$color-om-light: #2f4668;
$color-bw-7: #070707;
$color-bw-20: #141414;
$color-bw-32: #202020;
$color-bw-50: #323232;
$color-bw-80: #505050;
$color-bw-101: #656565;
$color-bw-140: #8c8c8c;
$color-bw-170: #aaa;
$color-bw-215: #d7d7d7;
$color-bw-255: #fff;
$color-theme-dark: #8930b3;
$color-theme-light: #f3d87e;
$color-orange: #ff6a1e;
$color-dark-primary: #701dc9;
$color-dark-cyan: #042a3b;
$color-dark-info: #1172a7;
$color-dark-success: #0f7c49;
$color-dark-warning: #8a6a0b;
$color-dark-orange: #b35a11;
$color-dark-danger: #c91d2e;
$color-dark-red: #600000;

// endregion

// region Overridden theme color

$color-primary: #b977ff;
$color-success: #1dc577;
$color-danger: #ff4457;

// endregion

// region App color

$color-body-bg: #181818;
$color-section: color.adjust($color-body-bg, $lightness: 3%);
$color-section-border: color.adjust($color-body-bg, $lightness: 15%);
$hr-color: color.change($color-bw-170, $alpha: 0.5);
$body-color: $color-bw-255;

// endregion
