@use "sass:color";

// region Theme color

$color-om-dark: #02152a;
$color-om-light: #2f4668;
$color-orange: #ff5000;
$color-dark-red: #600000;
$color-black-07: #070707;
$color-black-32: #202020;
$color-black-50: #323232;
$color-black-80: #505050;
$color-light-gray: #aaa;
$color-white-pure: #fff;
$color-red: #ff4457;
$color-theme-dark: #8930b3;
$color-theme-light: #f3d87e;

// endregion

// region App color

$color-body-bg: #181818;
$color-section: color.adjust($color-body-bg, $lightness: 3%);
$color-section-border: color.adjust($color-body-bg, $lightness: 15%);

// endregion

$hr-color: color.change($color-light-gray, $alpha: 0.5);
