$color-om-dark: #02152a;
$color-om-light: #2f4668;
$color-orange: #ff5000;
$color-dark-red: #600000;
$color-black-07: #070707;
$color-black-32: #202020;
$color-black-50: #323232;
$color-black-80: #505050;
$color-light-gray: #aaa;
$color-white-pure: #fff;
$color-red: #ff4457;

$color-body-bg: #181818;
$color-section: lighten($color-body-bg, 3%);
$color-section-border: lighten($color-body-bg, 15%);

$color-theme-dark: #8930b3;
$color-theme-light: #f3d87e;

$hr-color: rgba($color-light-gray, 0.5);
