@use "sass:color";
@use "colors";

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  cursor: pointer;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    "Courier New",
    monospace;
}

img {
  max-width: 100%;
  max-height: 100%;

  &.unit-icon {
    margin: 0 0.2rem;
    height: 1.6rem;
  }

  // Class kept for legacy usage
  // stylelint-disable-next-line selector-class-pattern
  &.unitIcon {
    margin: 0 0.2rem;
    height: 1.6rem;
  }

  &.bg-img {
    position: absolute;
  }
}

div {
  &.footer {
    height: 15vh;
  }
}
