@use "sass:color";
@use "colors";

$scroll-bar-core-color: color.adjust(colors.$color-body-bg, $lightness: 30%);
$scroll-bar-bg-color: color.adjust(colors.$color-body-bg, $lightness: 10%);

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: $scroll-bar-core-color $scroll-bar-bg-color;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: $scroll-bar-bg-color;
}

*::-webkit-scrollbar-thumb {
  background-color: $scroll-bar-core-color;
  border-radius: 20px;
  border: 3px solid $scroll-bar-bg-color;
}
