@use "sass:color";
@use "../../../styles/colors";

nav {
  &.nav-site {
    background-color: color.change(colors.$color-om-dark, $lightness: 7%);
  }

  &.nav-title {
    background-color: color.change(colors.$color-body-bg, $alpha: 0.9);
    border-width: 1px;
    border-style: solid;
    border-image:
      linear-gradient(
        150deg,
        color.change(colors.$color-theme-dark, $lightness: 50%),
        color.change(colors.$color-theme-light, $lightness: 50%),
      ) 1;
  }
}
