@use "sass:color";
@use "../../../styles/colors";
@use "../../../styles/utils";

nav {
  &.nav-static-bar {
    $height: 2.2rem;

    background-color: color.change(colors.$color-body-bg, $alpha: 0.9);
    border-width: 1px;
    border-style: solid;
    border-image:
      linear-gradient(
        150deg,
        color.change(colors.$color-theme-dark, $lightness: 50%),
        color.change(colors.$color-theme-light, $lightness: 50%),
      ) 1;
    z-index: 999;

    & h1 {
      font-size: 1rem;
      margin: 0;
      line-height: $height;
      height: $height;
    }

    & button {
      &.nav-static-menu-btn-show {
        font-size: 1rem;
      }

      &.nav-static-menu-btn-hide {
        display: none;
      }
    }

    & div[class*="dropdown-menu"] {
      transition: all 0.3s;
    }
  }
}

div {
  &.nav-container {
    position: sticky;
    top: 4rem;
    z-index: 970;
    height: calc(100vh - 5rem);
    width: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: 0.5rem;
  }

  &.nav-body {
    @mixin nav-item() {
      border: 1px solid colors.$color-bw-101;
      border-radius: 0.3rem;

      // !important to override the default style from BS `.navbar-nav .nav-link`
      padding: 0.5rem 1rem !important;
    }

    @extend %flex-grow-fill;

    text-align: left;

    a,
    button {
      margin-bottom: 0.5rem;
    }

    div.text {
      @include nav-item;

      background-color: colors.$color-bw-20;
      text-align: center;
    }

    a.nav-item {
      @include nav-item;

      background-image: var(--bs-gradient);
      color: colors.$color-bw-240;

      &.active {
        $bg-active: colors.$color-bw-215;

        color: colors.$color-bw-20;
        border: 1px solid $bg-active;
        background-color: $bg-active;
      }

      &:hover,
      &:focus,
      &.nav-dropdown-hover {
        $bg-hovered: color.change(colors.$color-om-dark, $lightness: 35%);

        color: colors.$color-bw-240;
        border: 1px solid $bg-hovered;
        background-color: $bg-hovered;
      }
    }

    button {
      // For all button component to fill the vertical space
      width: 100%;
    }

    & > div.nav-dropdown-menu {
      background-color: colors.$color-bw-50;
      border-radius: 0.3rem;

      & > div.nav-dropdown-menu-inner {
        // Inner section is needed for avoiding the collapsing glitch
        padding: 0.7rem;

        & > div:last-child a {
          margin-bottom: 0;
        }
      }
    }
  }

  &.nav-offcanvas-header {
    background:
      linear-gradient(
        150deg,
        color.change(colors.$color-theme-dark, $lightness: 17%),
        color.change(colors.$color-theme-light, $lightness: 17%),
      );
  }

  &.nav-title {
    position: relative;
    display: flex;
    height: 5rem;
    margin-bottom: 1rem;
  }

  &.nav-title::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.55;
    background-image: url("/img/nav.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0.5rem;
  }

  &.nav-title > h5 {
    position: relative;
    padding: 0.5rem;
    align-self: end;
  }
}

h6 {
  &.nav-header {
    display: flex;
    flex-direction: row;

    &::after {
      content: "";
      flex: 1 1;
      border-bottom: 1px solid;
      margin: auto auto auto 0.7rem;
    }
  }
}
